@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url("JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "JetBrains Mono Nerd";
  src: url(JetBrainsMonoNerdFont-Regular.ttf) format(truetype);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
:root {
  --primary: #d32f2f; /* red */
  --dark: #121212; /* black */
  --light: #f5f5f5;
}

body {
  margin: 0;
  font-family: JetBrains Mono Nerd, monospace;
  background-color: var(--dark);
  color: var(--light);
}

header {
  background: var(--primary);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.5rem;
}

nav a {
  color: var(--light);
  text-decoration: none;
  margin-left: 1.5rem;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  text-align: center;
  /* background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('favicon.png') no-repeat center/cover; */
  /*background-position: center -1000px;*/
  color: var(--light);
}

.hero h2 {
  font-size: 3rem;
  margin: 0 0 1rem;
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.hero button {
  background: var(--primary);
  border: none;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
}

.hero button:hover {
  background: #b71c1c;
}

footer {
  background: var(--primary);
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
.hero a.github-btn svg {
  margin-right: 0.5rem;
  fill: var(--light);
}
.hero a.github-btn:hover {
  background: #b71c1c;
}
    

.hero a.github-btn {
  display: inline-flex;
  align-items: center;
  background: var(--primary);
  border: none;
  padding: 0.75rem 1.5rem;
  color: var(--light);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  text-decoration: none;
}
.background iframe {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* stays behind everything */
}
